body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.skipLink {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: #000;
    color: #fff;
    padding: 10px;
    z-index: 100;

}

nav {
    background-color: #4e4e4e;
    color: #fff;
    padding: 10px 0;
}

footer {
    background-color: #4e4e4e;
    color: #fff;
    padding: 10px 0;
    text-align: center;

}


.contentWidth {
    margin: 0 auto;
    max-width: 1200px;
    padding: 30px;
}


/* elements */

a.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    background-color: #4e4e4e;
    transition: 0.3s;
    border-radius: 8px;
}

/* tabs */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #4e4e4e;
    color: #fff;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  .tabcontent.defaultOpen {
    display: block;
  }
  

  .gridGroup {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
  }

  .gridGroup .gridItem {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 8px;
  }